<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>primera pagina web</h1>
    
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum assumenda veritatis ab odio animi, ipsa quisquam distinctio quaerat? Quos culpa cupiditate eligendi, quia neque exercitationem ad corrupti quibusdam? Ipsam, harum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempore cumque dolor nostrum at, natus quae, sint iste vel fugit iure impedit facere eius recusandae ipsum a quam soluta accusantium!</p>
</body>
</html>